*{
    margin: 0;
}
body{
        color: #ffffff;
        font-family: sans-serif;
        background-image: url(/img/welcome-background-img.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 100vh;
        /* overflow: hidden; */
}

.gen-div{
    height: 100vh;
    display: grid;
    justify-content: center;
    align-items: center;
}
button{
    position: relative;
    height: 80px;
    width: 80px;
    border-radius: 50%;
    background-color: #CAC1B4;
    color: #DD9B91;
    font-weight: 900;
    font-size: 1.4em;
}

/* responsiveness */
@media all and (max-width:320px){
    body{
        background-image: url(/img/welcome-background-mobile.jpg);
    }
    button{
        height: 1.7em;
        width: 12em;
        border-radius: 50em;
        background-color: #8EE71D;
        color: #ffffff;
        font-weight: 600;
        font-size: 1.4em;
        border: none;
    }
}
@media all and (min-width:321px) and (max-width:375px){
    body{
        background-image: url(/img/welcome-background-mobile.jpg);
    }
    button{
        height: 1.8em;
        width: 14em;
        border-radius: 50em;
        background-color: #8EE71D;
        color: #ffffff;
        font-weight: 600;
        font-size: 1.4em;
        border: none;
    }
}
/* @media all and (min-width:376px) and (max-width:425px){
    
} */
/* @media all and (min-width:426px) and (max-width:768px){
    
} */
/* @media all and (min-width:769px) and (max-width:820px){
    
} */
/* @media all and (min-width:821px) and (max-width:912px){
    
} */