*{
    margin: 0;
}
body{
    color: #ffffff;
    font-family: sans-serif;
    background-image: url(/img/game-background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    /* backdrop-filter: blur(2px); */
}
.alt-icon-div{
    display: flex;
    justify-content: end;
    gap: 30px;
    padding: 20px 20px 0px 0px;
}
#alticon{
    cursor: pointer;
}
#quiz-container{
    /* border: 1px solid red; */
    padding: 15px 0px;
    margin-top: 270px;
}
#question-div{
    border: 5px solid #ffffff;
    text-align: center;
    max-width: 1000px;
    margin: auto;
    padding: 2px;
    border-radius: 50px;
}
#question{
    border: 1px solid #ffffff;
    text-align: center;
    max-width: 1000px;
    margin: auto;
    padding: 20px 30px;
    border-radius: 50px;
    background-color: #0715C2;
}
ol{
    /* border: 1px solid red; */
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    list-style: none;
    max-width: 1000px;
    margin: auto;
    padding: 15px 0px 0px 0px;
}
.option-div{
    border: 5px solid #ffffff;
    text-align: center;
    padding: 2px;
    border-radius: 50px;
}
.option{
    border: 1px solid #ffffff;
    text-align: center;
    border-radius: 50px;
    background-color: #0715C2;
    font-size: 1.5em;
    font-weight: 700;
    cursor: pointer;
}
span{
    display: block;
    border-radius: 50px;
    padding: 7px 20px;
}
#scoreboard{
    display: none;
}
#answerBank{
    display: none;
}
.next{
    display: none;
}